
<div class="row">
	
<li>
	{{burger_name}}
</div>
<div class="row">
	<button class="btn btn-primary change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Maybe tommorow!{{else}}EAT-DA-BURGER!{{/if}}
	</button>
</div>
	
</li>
